body {
    background-color: rgba(44, 146, 146, 0.521);
}

.container0 {
    width: 100%;
    background-color: white;
    margin-top: 100px;
}

h1 {
    font-family: 'yaldevi';
}

p {
    font-family: 'yaldevi';
    font-weight: bold;
}

#example {
    background-color: aliceblue;
    cursor: pointer;
}

.container1 {
    width: 100%;
    background-color: white;
    margin-top: 20px;
}